/* RGB */
$color1: rgba(195, 60, 84, 1);
$color2: rgba(37, 78, 112, 1);
$color3: rgba(55, 113, 142, 1);
$color4: rgba(142, 227, 239, 1);
$color5: rgba(136, 151, 167, 0.671);

$color6: rgba(168, 224, 255, 1);
$color7: rgba(142, 227, 245, 1);
$color8: rgba(112, 202, 209, 1);
$color9: rgba(62, 81, 122, 1);
$color10: rgba(176, 142, 162, 1);

$color11: rgb(239, 244, 247);
$color12: rgba(193, 223, 240, 1);
$color13: rgba(191, 227, 240, 0.651);
$color14: rgba(45, 132, 138, 1);
$color15: rgba(44, 98, 117, 0.719);

$color16: rgba(3, 0, 39, 1);
$color17: rgba(242, 243, 217, 1);